body {
  margin: 0;
  background-image: url(./img/background-6816967_1280.jpg);
  background-size: 1200px 1200px;
  background-repeat: no-repeat;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
}

li {
  list-style: none;
  display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 32px;
  height: 100vw;
}
.itemConteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.active {
  display: block;
}

.taskText {
  margin: 0;
  padding: 24px 32px;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-image: url("./img/modal_bg.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.modal1 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-image: url("./img/modal_bg1.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.modal2 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-image: url("./img/modal_bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.modal3 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-image: url("./img/modal_bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.modal4 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-image: url("./img/modal_bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.modal.is-active,
.modal1.is-active,
.modal2.is-active,
.modal3.is-active,
.modal4.is-active {
  display: none;
}
.modalBtn,
.modalBtn1,
.modalBtn2,
.modalBtn3,
.modalBtn4 {
  border: 0;
  border-radius: 5px;
  padding: 8px;
  min-width: 100px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.modalText {
  padding: 24px;
}
.modalFinish.is-active {
  display: none;
}
.modalFinish {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-position: 11% -2%;
  background-image: url(./img/santa.jpg);
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.form1 {
  display: flex;
  flex-direction: column;
}
.form2 {
  display: flex;
  flex-direction: column;
}
.form3 {
  display: flex;
  flex-direction: column;
}
.form4 {
  display: flex;
  flex-direction: column;
}
.form5 {
  display: flex;
  flex-direction: column;
}
.form6 {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 16px 0;
  border: 0;
  border-radius: 5px;
  padding: 16px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.formBtn {
  border: 0;
  border-radius: 5px;
  padding: 8px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
